<style type:= "text/css">



<h1>Travel is my life!</h1>
<h2>About Me</h2>

<p>"Allow me to introduce myself!"</p>

<p> "My favorite color is <%= @color %>.</p>
<p> "My shoe size is <%= @size %>.</p>

<% if @size > 12 %>
  <p>My feet are huge!</p>
  <% else %>
<% end %>